<h1><%= titleForm  %> 
    <i class="bi bi-card-checklist"></i>
    </h1>
    <h3 class="usuario">Olá, <%= nameUser  %> <i class="bi bi-person"></i></h3>
    <form action="/<%= action %>" method="post">
    <input type="text" name="task" id="task" placeholder="Insira uma tarefa" value="<%= value %>">
    <button id="<%= idBtn %>" type="submit"><%= nameBtn %></button>
  </form>